.red {
  color: red;
  border: 2px solid darkred;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

#colors {
  height: 200px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(179, 106, 253);
}